option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: delgadomiguel121297@gmail.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: eu-west-1
    STARTUP_SIGNUP_TABLE: nodejs-tutorial
    NEW_SIGNUP_TOPIC: NewSignupTopic
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
